/* CSS Document */
*{
margin:0;
padding:0;
font-size:12px;
}

body{
background-color:#f5f5f5;
}
		

.top{
width:100%;
height:27px;
background:url(../images/top_bg.jpg) repeat-x;
}
.top_content{
width:1000px;
margin:0 auto;
}

.top_content li{
list-style-image:url(../images/li_bg.gif);
float:right;
width:80px;
line-height:27px;
}

.top_content a:link,.top_content a:visited{
color:#8e8e8e;
text-decoration:none;
}

.top_content a:hover,.top_content a:active{
color:#FF0000;
text-decoration:none;
}

.wrap{
width:1000px;
margin:0 auto;
}

.logo{
height:80px;
background-color:#FFFFFF;
}

.logo_left{
float:left;
width:200px;
}

.logo_right{
width:300px;
float:right;
margin-top:30px;
color:8e8e8e;
height:28px;
}

.logo_right img{
vertical-align:middle;
margin-right:10px;

}

.tel{
	font-size:16px;
	font:"풕턼환쥌";
	color:#FF0000
}

.nav{height:40px;}

.nav_left{
background:url(../images/nav_left.jpg) no-repeat;
width:10px;

}
.nav_middle{
width:980px;
background:url(../images/nav_bg.jpg) repeat-x;

}

.nav_right{
background:url(../images/nav_right.jpg) no-repeat;
width:10px;
}
.nav_right,.nav_middle,.nav_left{
height:40px;
float:left;}

.nav_middle_left,.nav_middle_right{
float:left;
}

.nav_middle_left{
width:680px;
}

.nav_middle_right{
width:300px;
}
.nav_middle_left li{
float:left;
width:100px;
line-height:40px;
list-style-type:none;
text-align:center;
}

.nav_middle_left a:link,nav_middle_left a:visited{
text-decoration:none;
color:#FFFFFF;
font-size:16px;
font-family:"풕턼환쥌";
}

.nav_middle_left a:hover,nav_middle_left a:active{
text-decoration:none;
color:#FF0;
font-size:16px;
font-family:"풕턼환쥌";}

.search_text{width:190px;
height:25px;
margin-top:5px;
background:url(../images/search.jpg) no-repeat right center;
background-color:#FFFFFF;
 padding-right:25px;
 border:1px solid #FFFFFF;}
 
.ad{
 height:310px;
 overflow:hidden;}
 
.main{height:250px;
background-color:#FFFFFF;
margin-top:5px;}

.news{width:340px;
border:1px solid #e8e8e8;
}

.course{width:410px;
border:1px solid  #e8e8e8;

margin:0 7px;}

.sidebar{
width:230px;
}

.news,.course,.sidebar{
height:250px;
float:left;}

.title{
height:35px;
border-bottom:2px solid #e8e8e8;}

.title_left{
font-family:"풕턼환쥌";
font-size:14px;
font-weight:bold;
color:#786f66;
float:left;
padding-left:20px;
width:70%;
line-height:35px;}

.title_right{
width:20%;
line-height:35px;
float:right;
text-align:right;
padding-right:10px;
}

.title_right a{
text-decoration:none;
color:#999999;
}

.pic_news{
height:80px;
margin-top:10px;
line-height:22px;
}

.pic_news img,.course_pic img{
float:left;
margin:0 5px;
}

.pic_news a,.course_pic a{
text-decoration:none;
color:#cc0000;}

.news_list{margin-top:20px;}

.news_list li{
/*list-style-image:url(../images/li_bg.gif);*/
list-style:none;
background:url(../images/list.jpg) no-repeat;
padding-left:10px;
margin:8px;
border-bottom:1px dotted #CCCCCC;
}

.news_list a:link,.news_list a:visited{
text-decoration:none;
color:#000;
}

.news_list a:hover,.news_list a:active{
text-decoration:none;
color:#f00;}

.news_list span{color:#999;
float:right;}

.course_pic{
height:120px;
margin-top:10px;
line-height:22px;
}
.course_type{
height:37px;
width:372px;
background:url(../images/product_type_bg.jpg) no-repeat;
margin:20px auto;
}
.course_type li{
list-style-type:none;
float:left;
line-height:37px;
text-align:center;
margin:0 15px;}
.video{
height:185px;
border:1px solid #e8e8e8;
}
.video_content{height:150px;}

.sidebar_ad{
height:55px;
border:1px solid #e8e8e8;
margin-top:10px;}

.copyright{
width:100%;
height:200px;
background-color:#e8e8e8;
margin-top:10px;
clear:both;
}
.copyright_content{
width:1000px;
margin:0 auto;
padding-top:20px;}

.copyright_content li{
list-style-type:none;
float:left;
width:200px;
background:url(../images/line.png) no-repeat right center;
text-align:center;
line-height:30px;
}
.copyright_content a{
text-decoration:none;
color:#999999;
font-size:18px;}

.copyright_content li ul li a{
font-size:14px;}

.list_main{
min-height:350px;
_height:350px;
background-color:#FFFFFF;
margin-top:10px;}

.news_type{
height:350px;
width:220px;
border:1px solid #e8e8e8;
float:left;
}

.list_box{
width:770px;
/*height:350px;*/
min-height:350px;/*컠턯찡찕*/
_height:350px;
border:1px solid #e8e8e8;
float:right;
background-color:#FFFFFF;
}

.news_type h2{
height:35px;
line-height:35px;
font-size:14px;
font-family:"풕턼환쥌";
color:#666666;
background:url(../images/titile_bg.gif) repeat-x;
padding-left:20px;
}
.news_type_content{
height:365px;
background:url(../images/content_bg.gif) repeat-x;
}

.news_type_content li{
list-style-type:none;
height:30px;
line-height:30px;

}

.news_type_content li a{
color:#666;
text-decoration:none;
background:url(../images/li_bg.gif) no-repeat left center;
padding-left:15px;
display:block;
}
.news_type_content li a:hover{
background:url(../images/li_bg2.gif) no-repeat left center;
text-decoration:none;
color:#009cdf;
background-color:#f2f2f2;
}
.list_box h2{
font-size:14px;
font-family:"풕턼환쥌";
hieght:35px;
line-height:35px;
background:url(../images/type_bg.png) repeat-x;
padding-left:20px;}

.page{
height:40px;
margin-top:10px;
text-align:center;}

.page a{
display:inline-block;
border:1px solid #e8e8e8;
text-decoration:none;
margin:5px;
padding:5px 10px;}

.page a:link,.page a:visited{
color:#000;
}
.page a:hover,.page a:active{
color:#fff;
background-color:#cc1b1b;}
.list_box h1{
font-family:"풕턼환쥌";
font-size:20px;
text-align:center;
margin:10px 0;}

.list_box_newsInfo{
color:#666;
text-align:center;
border-bottom:1px dotted #666;}

.list_box_newsContent{
font-size:14px;
padding:20px;
line-height:25px;
text-indent:2em;}